@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&family=Texturina:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 10px;
}

#root,
html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #000000;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: #d3d3d3;
}

h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: #000000;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: #d3d3d3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobileBanner {
  display: none;
}

.phenomenaLogo {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 40%;
  margin-top: 150px;
}

.scroll-horizontal {
  height: 500px !important;
  width: 100% !important;
}

@media only screen and (max-width: 980px) {
  .scroll-horizontal {
    display: none;
  }

  .phenomenaLogo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }

  .mobileBanner {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
  }
}
